{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->

 <link rel="icon" type="image/png" href="{%static "img/favicon.png"%}">	<!-- Author Meta -->

	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	{% block social %}
	<title>Olanike children foundation |
Evènement </title>

	<meta property="og:title" content="Olanike children's foundation" />
		<meta property="og:image" content="{%static "images/logo2.jpg"%}" />
		<meta property="og:url" content="olanike-chidren.com" />
		<meta property="description" content="Olanikè Children's Foundation est une organisation qui fait de l’enfance sa priorité. En tant qu’acteurs sociaux, nous avons le devoir non seulement de changer les choses pour chaque victime, mais surtout la responsabilité de faire en sorte que chaque enfant participe activement à ce changement" />
		<meta property="og:site_name" content="Olanike children's foundation"/>
		<meta name="twitter:title" content="Olanike children's foundation" />
		<meta name="twitter:image" content="{%static "images/12.jpg"%}" />
		<meta name="twitter:url" content="olanike-children.com" />
		<meta name="twitter:card" content="summary_large_image">
	{% endblock %}
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400" rel="stylesheet">
	<!--
			CSS
			============================================= -->
    {% block static-css %}
	<link rel="stylesheet" href="{%static "css/font-awesome.min.css"%}">
	<link rel="stylesheet" href="{% static "css/themify-icons.css"%}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
	<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
	<link rel="stylesheet" href="{%static "css/magnific-popup.css" %}">
	<link rel="stylesheet" href="{%static "css/nice-select.css"%}">
	<link rel="stylesheet" href="{%static "css/main.css" %}">
    {% endblock %}
</head>

<body>
{% block header %}
	<!--================ Start Header Area =================-->
	<header class="default-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">

				<a class="navbar-brand" href="/">
					<img src="{%static "img/logo.png"%}" alt="logo">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
					<ul class="navbar-nav">
                        {% block ul %}
						<li><a  href="/">Accueil</a></li>

						<li><a href="/causes">Causes</a></li>
						<li><a href="/events" class="active" >
Evènements</a></li>
						<li><a href="/blog">Notre blog</a></li>
					    {% endblock %}

					</ul>
				</div>
			</div>
		</nav>
	</header>
{% endblock %}
	<!--================ End Header Area =================-->

	<!--================ start banner Area =================-->
{% block banner %}

{% endblock %}
	<!--================ End banner Area =================-->

    {% block main %}

    {% endblock %}

{% block footer %}
	<!--================ start footer Area =================-->
		<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-5 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">A propos</h4>
							<p>
Olanikè Children's Foundation est une organisation qui fait de l’enfance sa priorité. En tant qu’acteurs sociaux, nous avons le devoir non seulement de changer les choses pour chaque victime, mais surtout la responsabilité de faire en sorte que chaque enfant participe activement à ce changement.							</p>
							<p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="olanike-children.com" target="_blank">Olanike's children foundation</a>
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Lien rapides</h4>
							<ul class="list">
								<li><a href="/causes">Objectifs</a></li>
								<li><a href="/events">
Evènements</a></li>
								<li><a href="/blog">Blog</a></li>
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contactez-nous</h4>
							<div class="ml-5">
								<p class="sm-head">
									<!--<span class="fa fa-location-arrow"></span>
									siege
								</p>
								<p>106H, Porto, Novo</p>-->

								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Numero de téléphone
								</p>
								<p>
									+229 519 93901
								</p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									olanikechildrensfoundation@gmail.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area =================-->
{% endblock %}

{% block static-js %}
<script src="{%static "js/vendor/jquery-2.2.4.min.js"%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
    <script src="{%static "js/vendor/bootstrap.min.js"%}"></script>
    <script src="{%static "js/jquery.ajaxchimp.min.js"%}"></script>
	<script src="{%static "js/parallax.min.js" %}"></script>
	<script src="{%static "js/owl.carousel.min.js" %}"></script>
	<script src="{%static "js/isotope.pkgd.min.js" %}"></script>
	<script src="{%static "js/jquery.nice-select.min.js" %}"></script>
	<script src="{%static "js/jquery.magnific-popup.min.js" %}"></script>

	<script src="{%static "js/jquery.sticky.js" %}"></script>
	<script src="{%static "js/main.js" %}"></script>

{% endblock %}
</body>

</html>
