{% extends 'layouts/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->

	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>OLA</title>

	<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400" rel="stylesheet">
	<!--
			CSS
			============================================= -->

</head>

<body>
 {% block main %}
	<!--================ Start About Area =================-->
	<section class="about_area lite_bg">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-5">
					<div class="about_details lite_bg">
						<h2>Nous sommes une
							Organisation non gouvernementale </h2>
						<p class="top_text">
							Nous luttons pour l'épanouissement de l'enfant africain. 
						</p>
						<p class="mb-0">
							Nous luttons pour l'épanouissement de l'enfant africain.
							Nous luttons pour l'épanouissement de l'enfant africain.
							Nous luttons pour l'épanouissement de l'enfant africain.
							Nous luttons pour l'épanouissement de l'enfant africain.
							Nous luttons pour l'épanouissement de l'enfant africain.
							Nous luttons pour l'épanouissement de l'enfant africain.
						</p>
						<!-- <a href="#" class="primary-btn mt-5">
							Lire plus
							<i class="ti-angle-right ml-1"></i>
						</a> -->

						<div class="active-brand-carusel">
							<div class="single-brand">
								<img class="mx-auto w-auto" src="img/brands/b1.png" alt="">
							</div>
							<div class="single-brand">
								<img class="mx-auto w-auto" src="img/brands/b2.png" alt="">
							</div>
							<div class=" single-brand">
								<img class="mx-auto w-auto" src="img/brands/b3.png" alt="">
							</div>
							<div class=" single-brand">
								<img class="mx-auto w-auto" src="img/brands/b2.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-3 col-md-6 offset-md-1 d-lg-block d-none">
					<div class="about_right">
						<div class="video-inner justify-content-center align-items-center d-flex">
							<a id="play-home-video" class="video-play-button" 
							href="https://www.youtube.com/watch?v=JH9FHLMWiGc">
								<span></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="about_bg d-lg-block d-none"></div>
		</div>
	</section>
	<!--================ End About Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Comment <span>contribuer</span> ?</h2>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-compass"></i>
						<h4>Faire un don</h4>
						<p>Vous pouvez contribuer en faisant un don pour nous aider à atteindre l'un de nos objectifs</p>
						<!-- <a href="#" class="primary-btn2">Learn more</a> -->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-desk"></i>
						<h4>Soutenir</h4>
						<p>Vous pouvez contribuer en apportant en inspirant, en soutenant et en motivant d'autres.</p>
						<!-- <a href="#" class="primary-btn2">Learn more</a> -->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-bathroom"></i>
						<h4>Devenir volontaire</h4>
						<p>Vous pouvz contriuer en devenant un menmbre actif de Olanike childrend Fundation.</p>
						<!-- <a href="#" class="primary-btn2">Learn more</a> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================ Start Popular Causes Area =================-->
	<section class="popular-cause-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title" id="causes">
						<h2><span>Objectifs</span> principals</h2>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="card single-popular-cause">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/causes/c11.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<div class="tag">Education</div>
								<h4 class="card-title">Constructin d'un école dans la commune d'adapklame</h4>
								<div class="d-flex justify-content-between raised_goal">
									<p>Fonds: $1533</p>
									<p><span>Objectif: $2500</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary-btn">Faire un don</a>
									<p><span class="ti-heart mr-1"></span> 89 Donnateurs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card single-popular-cause">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/causes/c12.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<div class="tag">Social</div>
								<h4 class="card-title">Achat de vivres à l'orphelina d'aglogbe.</h4>
								<div class="d-flex justify-content-between raised_goal">
									<p>Fonds: $1533</p>
									<p><span>Objectif: $2500</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary-btn">Faire un don</a>
									<p><span class="ti-heart mr-1"></span> 80 Donnateur</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card single-popular-cause">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/causes/c11.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<div class="tag">Santé</div>
								<h4 class="card-title">Construction d'un hopital pour enfant à savalou</h4>
								<div class="d-flex justify-content-between raised_goal">
									<p>Fonds: $1533</p>
									<p><span>Objectif: $2500</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary-btn">Faire un don</a>
									<p><span class="ti-heart mr-1"></span> 110 Donnateurs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Popular Causes Area =================-->

	<!--================ Start callto Area =================-->
	<section class="callto-area section-gap relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<p class="top_text">Rejoignez-nous</p>
					<div class="call-wrap mx-auto">
						<h1>Nous avons besoin de vous</h1>
						<!-- <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=_C5vCGB8Xx0">
									<span></span>
								</a> -->
						<p>Rejoignez notre famille pour apporter le sourir et la joie dans le coeur de ses ames innocentes</p>
						<a href="#" class="primary-btn mt-5">
							Rejoindre
							<i class="ti-angle-right ml-1"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End callto Area =================-->

	<!--================ Start Upcoming Event Area =================-->
	<section class="upcoming_event_area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Evennement</span> à venir</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="img/event/e1.jpg" alt="">
									<div class="date">
										17 Mars
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="event-details.html">Déjeuner avec les malvoyants au CPSA</a>
									</h3>
									<p>
										Déjeuner avec les malvoyants au CPSA
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv1">
										<div class="single_time">
											<h4 class="days">552</h4>
											<p>Jours</p>
										</div>
										<div class="single_time">
											<h4 class="hours">08</h4>
											<p>Heures</p>
										</div>
										<div class="single_time">
											<h4 class="minutes">45</h4>
											<p>Minutes</p>
										</div>
									</div>
									<a href="event-details.html" class="primary-btn2">Voir plus</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="img/event/e1.jpg" alt="">
									<div class="date">
										17 Mars
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="event-details.html">Déjeuner avec les malvoyants au CPSA</a>
									</h3>
									<p>
										Déjeuner avec les malvoyants au CPSA
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv1">
										<div class="single_time">
											<h4 class="days">552</h4>
											<p>Jours</p>
										</div>
										<div class="single_time">
											<h4 class="hours">08</h4>
											<p>Heures</p>
										</div>
										<div class="single_time">
											<h4 class="minutes">45</h4>
											<p>Minutes</p>
										</div>
									</div>
									<a href="event-details.html" class="primary-btn2">Voir plus</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="img/event/e1.jpg" alt="">
									<div class="date">
										17 Mars
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="event-details.html">Déjeuner avec les malvoyants au CPSA</a>
									</h3>
									<p>
										Déjeuner avec les malvoyants au CPSA
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv1">
										<div class="single_time">
											<h4 class="days">552</h4>
											<p>Jours</p>
										</div>
										<div class="single_time">
											<h4 class="hours">08</h4>
											<p>Heures</p>
										</div>
										<div class="single_time">
											<h4 class="minutes">45</h4>
											<p>Minutes</p>
										</div>
									</div>
									<a href="event-details.html" class="primary-btn2">Voir plus</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="img/event/e1.jpg" alt="">
									<div class="date">
										17 Mars
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="event-details.html">Déjeuner avec les malvoyants au CPSA</a>
									</h3>
									<p>
										Déjeuner avec les malvoyants au CPSA
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv1">
										<div class="single_time">
											<h4 class="days">552</h4>
											<p>Jours</p>
										</div>
										<div class="single_time">
											<h4 class="hours">08</h4>
											<p>Heures</p>
										</div>
										<div class="single_time">
											<h4 class="minutes">45</h4>
											<p>Minutes</p>
										</div>
									</div>
									<a href="event-details.html" class="primary-btn2">Voir plus</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Upcoming Event Area =================-->

	<!--================ Start Home Blog Area =================-->
	<section class="blog-area section-gap-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<div class="home-blog-left">
						<h2>Nos derniers articles</h2>
						<p>
							>Rejoignez notre famille pour apporter le sourir et la joie dans le coeur de ses ames innocentes>Rejoignez notre famille pour apporter le sourir et la joie dans le coeur de ses ames innocentes>Rejoignez notre famille pour apporter le sourir et la joie dans le coeur de ses ames innocentes
							>Rejoignez notre famille pour apporter le sourir et la joie dans le coeur de ses ames innocentes>
						</p>
						<a href="/blog" class="primary-btn2">Voir plus</a>
					</div>
				</div>
                {% for last in latest %}
				<div class="col-lg-4 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="{{ last.banner.url }}" alt="">
					</div>
					<div class="single-blog-info">
						<p class="tag"><span>{{ last.category }}</span><span> {{ last.created_at|date:'d F Y' }}</span></p>
						<a href="/blog/post/{{ last.post_id }}">
							<h4>{{ last.title}}</h4>
						</a>
						<div class="meta-bottom d-flex">
							<a href="/blog/post/{{ last.post_id }}" class="mr-3"> Lire cet article</a>
						</div>
					</div>
				</div>
                {% endfor %}

			</div>
		</div>
	</section>
	<!--================ End Home Blog Area =================-->

	<!--================ Start Instagram Area =================-->
	<section class="instagram-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Suivez-</span>nous</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="instagram-slider owl-carousel">
			<a href="img/instagram/i1.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i1.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="img/instagram/i2.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i2.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="img/instagram/i3.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i3.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="img/instagram/i4.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i4.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="img/instagram/i5.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i5.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
		</div>
	</section>
	<!--================ End Instagram Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<p class="top_text">inscrivez-vous</p>
					<h1>Inscrivez-vous a notre newsletter pour ne rien rater</h1>
					<div id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="row align-items-center">
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" placeholder="Nom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom'"
									 required="" type="email" />
								</div>
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" name="EMAIL" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
									 required="" type="email" />
								</div>
								<div class="col-lg-2">
									<button class="primary-btn" type="submit">S'inscrire</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
									</div>

									<div class="info"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->
{% endblock %}



</body>

</html>