{% extends 'layouts/base.html' %}
{% load static %}

<body>
 {% block main %}
	<!--================ Start About Area =================-->
	<section class="about_area lite_bg">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-5">
					<div class="about_details lite_bg" id="who">
						<h2>Qui sommes-nous?</h2>
						<p class="top_text">
							Olanikè Children's Foundation.
						</p>
						<p class="mb-0">
							<strong>Olanikè Children's Foundation</strong> est une organisation qui fait de l’enfance sa priorité.
							En tant qu’acteurs sociaux, nous avons le devoir non seulement
							de changer les choses pour chaque victime, mais surtout la
							responsabilité de faire en sorte que chaque enfant participe
							activement à ce changement.
						</p>
						<!-- <a href="#" class="primary-btn mt-5">
							Lire plus
							<i class="ti-angle-right ml-1"></i>
						</a> -->

						<div class="active-brand-carusel">
							<div class="single-brand">
								<img class="mx-auto w-auto" src="img/brands/b1.png" alt="">
							</div>
							<div class="single-brand">
								<img class="mx-auto w-auto" src="img/brands/b2.png" alt="">
							</div>
							<div class=" single-brand">
								<img class="mx-auto w-auto" src="img/brands/b3.png" alt="">
							</div>
							<div class=" single-brand">
								<img class="mx-auto w-auto" src="img/brands/b2.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-3 col-md-6 offset-md-1 d-lg-block d-none">
					<div class="about_right">
						<div class="video-inner justify-content-center align-items-center d-flex">
							<a id="play-home-video" class="video-play-button"
							href="https://www.youtube.com/watch?v=JH9FHLMWiGc">
								<span></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="about_bg d-lg-block d-none"></div>
		</div>
	</section>
	<!--================ End About Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Comment <span>contribuer</span> ?</h2>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-compass"></i>
						<h4>Faire un don</h4>
						<p>Le don revient toujours au donateur, telle l'eau de rivière qui revient toujours à la mer.</p>
            <small>Amor Abbassi</small>
						<!-- <a href="#" class="primary-btn2">Learn more</a> -->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-desk"></i>
						<h4>Nous soutenir</h4>
						<p>Rien n'st plus précieux que de pouvoir consoler, soutenir, réjouir un noble coeur.</p>
            <small>Henri-Frédéric Amiel</small>
						<!-- <a href="#" class="primary-btn2">Learn more</a> -->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-bathroom"></i>
						<h4>Devenir volontaire</h4>
						<p>Donner est un plaisir plus durable que recevoir; car celui des deux qui donne est celui qui se souvient le plus longtemps.</p>
            <small>Chamfort</small>
						<!-- <a href="#" class="primary-btn2">Learn more</a> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================ Start Popular Causes Area =================-->
	<section class="popular-cause-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title" id="causes">
						<h2><span>Nos</span> objectifs</h2>
					</div>
				</div>
			</div>

			<div class="row">

				{% for cause in last_cause%}
				<div class="col-lg-4 col-md-6">
					<div class="card single-popular-cause">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="{{cause.banner.url}}" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<div class="tag">{{cause.category}}</div>
								<h4 class="card-title">{{cause.title}}</h4>
								<div class="d-flex justify-content-between raised_goal">
									<p>Fonds: {{cause.level}} $</p>
									<p><span>Objectif: {{cause.goal}} $</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="/causes/cause/{{cause.slug}}" class="primary-btn">Faire un don</a>
									<p><span class="ti-heart mr-1"></span> {{cause.don_number}} Donnateurs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
                    {% empty %}
                        <h3 style="text-align: center">Aucune cause disponible</h3>
				{%endfor%}
            </div>
		</div>
	</section>
	<!--================ End Popular Causes Area =================-->

	<!--================ Start callto Area =================
	<section class="callto-area section-gap relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<p class="top_text">Rejoignez-nous</p>
					<div class="call-wrap mx-auto">
						<h1>Nous avons besoin de vous</h1>
						 <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=_C5vCGB8Xx0">
									<span></span>
								</a>
						<p>Rejoignez notre famille pour apporter le sourir et la joie dans le coeur de ses ames innocentes</p>
						<a href="#" class="primary-btn mt-5">
							Rejoindre
							<i class="ti-angle-right ml-1"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!--================ End callto Area =================-->

	<!--================ Start Upcoming Event Area =================-->
	<section class="upcoming_event_area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Evennement</span> à venir</h2>
					</div>
				</div>
			</div>

			<div class="row">
                {% for event in last_event %}
				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="{{ event.banner.url }}" alt="">
									<div class="date">
                                        Bientot
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="/events/event/{{ event.slug }}">{{ event.title}}</a>
									</h3>
									<p>
                                        {{ event.adress}}
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv1">
										<div class="single_time">
											<h4>{{event.start_at|date:'d'}} {{event.start_at|date:'F'}} {{event.start_at|date:'Y'}}</h4>

										</div>
									<!--	<div class="single_time">
											<h4></h4>

										</div>
										<div class="single_time">
											<h4>{{event.start_at|date:'Y'}}</h4>

										</div>!-->
									</div>
													<a href="/events/event/{{ event.slug }}" class="primary-btn2">Voir plus</a>
								</div>
							</div>
						</div>
					</div>
				</div>


								{% empty %}
								<h3 style="text-align: center"> Aucun évenement disponible</h3>
                {% endfor %}
            </div>


        </div>
	</section>
	<!--================ End Upcoming Event Area =================-->

	<!--================ Start Home Blog Area =================-->
	<section class="blog-area section-gap-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<div class="home-blog-left">
						<h2>Nos articles récents</h2>
						<p>
							Enfants déscolarisés, placés, maltraités, exploités,
                            précocement mariés… Ce sont autant de problèmes auxquels
                            se trouve confrontée l’enfance africaine. Même si la société
                            essaye tant que bien que mal de faire face à ces problèmes,
                            il reste tant de chemin à parcourir.
						</p>
					</div>
                    <a href="/blog" class="primary-btn2">Voir plus</a>
				</div>
                {% for last in latest %}
				<div class="col-lg-4 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="{{ last.banner.url }}" alt="">
					</div>
					<div class="single-blog-info">
						<p class="tag"><span>{{ last.category }}</span><span> {{ last.created_at|date:'d F Y' }}</span></p>
						<a href="/blog/post/{{ last.slug }}">
							<h4>{{ last.title}}</h4>
						</a>
                        {% if last.view == 0 %}
						<div class="meta-bottom d-flex">
							<a href="/blog/post/{{ last.slug }}" class="mr-3">Lire cet article</a>
						</div>
                            {% elif last.view == 1%}
                             <div class="meta-bottom d-flex">
							<p class="mr-3"><span class="ti-eye mr-2"> {{ last.view }} Personne a lu</span></p>
						</div>
                            {% else %}
                            <div class="meta-bottom d-flex">
							<p class="mr-3"><span class="ti-eye mr-2"> {{ last.view }} Personnes ont lu</span></p>
						</div>
                        {% endif %}
					</div>
				</div>
                    {% empty %}
                     <h3 style="text-align: center">Aucun article disponible</h3>
                {% endfor %}


			</div>
		</div>
	</section>
	<!--================ End Home Blog Area =================-->

	<!--================ Start Instagram Area =================
	<section class="instagram-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Suivez-</span>nous</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="instagram-slider owl-carousel">
			<a href="img/instagram/i1.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i1.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="img/instagram/i2.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i2.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="img/instagram/i3.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i3.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="img/instagram/i4.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i4.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="img/instagram/i5.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="img/instagram/i5.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
		</div>
	</section>-->
	<!--================ End Instagram Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<p class="top_text">inscrivez-vous</p>
					<h1>Inscrivez-vous a notre newsletter pour ne rien rater</h1>
					<div id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="row align-items-center">
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" placeholder="Nom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom'"
									 required="" type="email" />
								</div>
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" name="EMAIL" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
									 required="" type="email" />
								</div>
								<div class="col-lg-2">
									<button class="primary-btn" type="submit">S'inscrire</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
									</div>

									<div class="info"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->
{% endblock %}



</body>

</html>
